.anyconnect
.background/
.bash_history
.cache/
.config/
.cups/
.dbus/
.gitconfig
.gnome/
.gnupg/
.icons/
.inputrc
.ipython/
.local/
.mozilla/
.pam_environment
.pki/
.profile
.python_history
.ssh/
.stellarium/
.sudo_as_admin_successful
.themes/
.thunderbird/
.vim/
.viminfo
.workrave/
.x2goclient/
.zcompdump
Comparison-of-training-algorithms/
Downloads/
OneDrive/
Pictures/
bin/
botorch/
cifar10/
opt/
shake-it/
snap/

